
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.cursor {cursor: pointer;}
.bg-g {background: #1e2d58 !important;}
.text-g{color: #1e2d58 !important;}
.text-w {color: white !important;}